@import '../styles/variable.less';

:global {
    .rc-dialog {
        width: 450px;
        top: 45% !important;
        transform: translateY(-50%) !important;
        max-width: calc(100vw - 24px);
    }
    .rc-dialog-content {
        width: 100%;
        overflow: hidden;
    }
    .rc-dialog-title {
        font-size: 16px !important;
    }
    .rc-dialog-wrap {
        overflow-y: auto !important;
        overflow-x: hidden !important;
        -webkit-overflow-scrolling: touch;
    }
    .rc-dialog-close {
        top: 0 !important;
        right: 10px !important;
        z-index: 9999;
    
        .rc-dialog-close-x {
            font-size: 32px !important;
            line-height: 1.5;
        }
    }
    
    .rc-dialog-body {
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        max-height: calc(85vh - 56px);
    }
    
    @media @mobile {
        .rc-dialog {
            width: 94% !important;
            margin: 0 auto;
            top: 16px !important;
            transform: none !important;
        }
        .rc-dialog-body {
            padding: 10px 10px;
            max-height: calc(100vh - 96px);
        }
        .rc-dialog-content {
            max-height: calc(100vh - 32px);
        }
    }
}
