:global {
    .rc-dropdown {
        max-width: 100%;
    }

    .rc-dropdown-dropdown,
    .rc-trigger-popup {
        z-index: 1500;
    }

    .rc-select-dropdown {
        z-index: 1500 !important;
    }
}